body::-webkit-scrollbar {
  display: none;
}

body {
    zoom: 1.5;
}

.outer {
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: "go";
    src: url("../font/go.ttf");
}

#songTitle {
    padding-top: 10px;
    text-align: center;
    font-size: 35px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 550px;
    height: 50px;
    background: linear-gradient(to right, rgb(0, 140, 255), pink);
    color: white;
    font-family: "go";
    cursor: default;
}

#rand {
    position: absolute;
    cursor: pointer;
    font-size: 70px;
    margin-top: -10px;
}

.randn {
    margin-right: -200px;
}

.randp {
    margin-left: -200px;
}

.rr {
    position: absolute;
    margin-left: -400px;
    margin-top: 0;
}

#volume {
    position: absolute;
    cursor: pointer;
    margin-right: -400px;
    margin-top: 7px;
}

#progress {
    width: 400px;
    height: 7px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}

#progressTime {
    width: 0px;
    height: 7px;
    background: linear-gradient(to right, rgb(0, 140, 255), pink);
    border-radius: 10px;
}

@font-face {
    font-family: "d7";
    src: url("../font/d72.ttf");
}

.time {
    position: absolute;
    margin-top: 20px;
    font-family: d7;
    font-size: 25px;
    cursor: default;
}

#time-time {
    margin-left: -350px;
}

#time-duration {
    margin-right: -350px;
}

#art {
    width: 200px;
    border-radius: 30px;

    margin-bottom: 30px;
    height: 200px;
}
