body::-webkit-scrollbar { 
    display: none; 
}

.outer {
    display: flex;
    justify-content: center;
}

#songTitle {
    text-align: center;
    font-size: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 800px;
    height: 50px;
    background: linear-gradient(to right, rgb(0, 140, 255), pink);
    color: white;
}

#volume {
    width: 20px;
}

#rand {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#play {
    cursor: pointer;
    width: 0;
    height: 0;
    border: none;
    border-top: 24px solid transparent;
    border-left: 45px solid #686868;
    border-bottom: 24px solid transparent;
    background-color: white;
    margin-left: 15px;
}

.sound {
    position: absolute;
    margin-top: -35px;
    margin-left: 300px;
}

#time {
    position: absolute;
    margin-top: -35px;
    margin-left: -180px;
}

.sbtn {
    margin-left: -560px;
    height: 100px;
    width: 60px;
    text-align: center;
    border: none;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    border-left: 2px solid black;
    z-index: 3;
}

#eom {
    background-color: rgb(26, 26, 26);
    color: white;
    border-top: 2px solid black;
    border-top-left-radius: 30px;
}

#ont {
    margin-top: 100px;
    background-color: rgb(255, 50, 94);
    color: white;
}

#ots {
    margin-top: 200px;
    background-color: rgb(255, 234, 225);
    color: rgb(255, 160, 157);
}

#otr {
    margin-top: 300px;
    background-color: rgb(153, 153, 153);
    color: rgb(109, 255, 128);
    border-bottom: 2px solid black;
    border-bottom-left-radius: 30px;
}

#close {
    position: absolute;
    color: white;
    font-size: 50px;
    margin-top: -15px;
    margin-left: 430px;
    z-index: 2;
    cursor: pointer;
}